.annotation-reply-form {
  border-top: 1px solid var(--gray-100);
  display:flex;
  gap: 8px;
  padding: 15px 30px 15px 46px;
  position: relative;
}

.annotation-reply-form .avatar {
  position: absolute;
  left: 15px;
  top: 12px;
}

.annotation-reply-form textarea {
  background-color: transparent;
  border: none;
  border-radius: calc(var(--border-radius) - 2px);
  box-sizing: border-box;
  font-family: 'Public Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0 25px 0 5px;
  outline-color: var(--cravensworth-600);
  padding: 6px;
  resize: none;
  /* https://stackoverflow.com/questions/7144843/extra-space-under-textarea-differs-along-browsers */
  vertical-align: top;
  width: 100%;
}

textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.annotation-reply-form button {
  background: var(--gray-500);
  border-radius: 50%;
  color: #fff;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 28px;
  height: 28px;
  margin-top: 2px;
}

.annotation-reply-form .send {
  color: var(--font-light);
  position: absolute;
  right: 15px;
  top: 12px;
}