.annotation-body-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  line-height: 1.1em;
  white-space: nowrap;
  width: 100%;
}

.annotation-body-created {
  margin-left: 3px;
}

.annotation-body-header .anonymous {
  color: var(--font-light);
}

.annotation-body-header .avatar {
  margin-right: 8px;
  margin-top: 0;
}

.annotation-body-header address {
  font-style: normal;
  font-weight: 500;
}

.annotation-body-header time {
  color: var(--font-light);
  font-size: 11px;
}